# Игнорируем виртуальное окружение
venv/

# Python мусор
__pycache__/
*.py[cod]
*.log
*.swp
*.swo

# IDE
.idea/
*.iml

# Системные файлы macOS
.DS_Store

# Прошивки и бинарники
*.bin
*.elf
*.hex

# Конфиги, если хочешь держать локальные версии
config.local.json
